.games__genres {
    margin-top: 110px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-title {
        font-weight: 600;
        font-size: 36px;
    }

    &-text {
        font-size: 18px;
        font-weight: 600;
        color: #3B44F6;
    }

    &-card {
        position: relative;
    }

    &-row {
        display: flex;
        gap: 15px;
        justify-content: center;
        padding-top: 10px;
    }

    &-img {
        border-radius: 8px;
    }

    &-body {
        position: absolute;
        top: 75px;
        left: 25%;
        color: white;
        font-size: 20px;
        font-weight: 500;
    }
}