.form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    z-index: 1000;

    &__title {
        margin: 30px 100px;
        padding: 0;
        text-align: center;
        color: white;
        font-size: 30px;
        text-transform: uppercase;
    }

    &__input {
        margin: 15px 40px;
        text-align: center;
    }

    input {
        padding: 10px;
        width: 100%;
        color: #fff;
        font-size: 20px;
        background: none;
        outline: none;
        border: 1px solid #fff;
        box-sizing: border-box;
    }

    &__forget {
        display: block;
        padding: 0 0 30px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        transition: .5s;

        &:hover {
            color: #0fc3f5;
        }
    }
}

.form__input input[type="text"]:focus,
.form__input input[type="password"]:focus {
    border: 1px solid #0fc3f5;
}

.form__input input[type="submit"] {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    border: none;
    background: #0fc3f5;
    transition: .5s;
}

.form__input input[type="submit"]:hover {
    background: #4442db;
    cursor: pointer;
}

.form.open {
    display: block;
}